{% extends 'base.html.twig' %}

{% block stylesheets %}
    
{% endblock %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <div id="totop"></div>
    <a href="#totop" class="fa fa-arrow-up" id="fixedarrow"></a>
    <!-- <a href="#totop"><i class="fa fa-arrow-up" aria-hidden="true" id="fixedarrow"></i></a> -->
    <!-- LEFT VERTICAL FIXED MENU -->

    <div class="leftverticalmenu">
        <a href="#" class="fa fa-twitter" id="twittericon"></a>
        <ul>
            <li><a href="#"><i class="fa fa-home" id="icons"></i>Home</a></li>
            <li><a href="#"><i class="fa fa-hashtag" id="icons"></i>Explore</a></li>
            <li><a href="#"><i class="fa fa-bell" id="icons"></i>Notification</a></li>
            <li><a href="#"><i class="fa fa-envelope" id="icons"></i>Messages</a></li>
            <li><a href="#"><i class="fa fa-bookmark" id="icons"></i>Bookmarks</a></li>
            <li><a href="#"><i class="fa fa-list-alt" id="icons"></i>Lists</a></li>
            <li><a href="twitterprofile.html"><img src="https://res.cloudinary.com/dowrygm9b/image/upload/v1570267399/laptop-3174729_yiprzu.jpg" alt="profile"
                        class="profileimage">Profile</a></li>
            <li><a href="#"><i class="fa fa-align-center" id="icons"></i>More</a></li>
        </ul>
        <figure> Tweet</figure>
    </div>

    <!-- END OF LEFT FIXED MENU -->

    <div class="flexcontainer">
        <div class="middlecontainer">
            <section class="headsec">
                <i class="fa fa-arrow-left" id="fa-arrow-left"></i>
                <div>
                    <h3>Soy Segun</h2>
                        <span>38.7k Tweets</span>
                </div>
            </section>
            <section class="twitterprofile">
                <div class="headerprofileimage">
                    <img src="https://res.cloudinary.com/dowrygm9b/image/upload/v1570267399/laptop-3174729_yiprzu.jpg" alt="header" id="headerimage">
                    <img src="https://res.cloudinary.com/dowrygm9b/image/upload/v1570267399/laptop-3174729_yiprzu.jpg" alt="profile pic" id="profilepic">
                    <div class="editprofile">Edit Profile</div>
                </div>
                <div class="bio">
                    <div class="handle">
                        <h3>Soy Segun</h3>
                        <span>@segun_OS</span>
                    </div>
                    <p>Business Administration Student |</p>
                    <p>Front-end web developer |</p>
                    <p>Barça fan |</p>
                    <span>@Awelagos @4topsports</span> <br>
                    <span> <i class="fa fa-location-arrow "></i> Lagos, Nigeria. <a href="#"> <i
                                class="fa fa-external-link" aria-hidden="true"></i>linkedin.com/in/segun-olani… </a> <i
                            class="fa fa-birthday-cake" aria-hidden="true"></i> Born November 10</span>
                    <br> <span><i class="fa fa-calendar"></i> Joined May 2013</span>
                    <div class="nawa">
                        <div class="followers"> 421 <span>Following</span></div>
                        <div>1519<span> Followers</span></div>
                    </div>
                </div>
            </section>

            <section class="tweets">
                <div class="heading">
                    <p>Tweets</p>
                    <p>Tweets and Replies</p>
                    <p>Media</p>
                    <p>Likes</p>
                </div>
            </section>
            <section class="mytweets">
                <div><img src="https://res.cloudinary.com/dowrygm9b/image/upload/v1570267399/laptop-3174729_yiprzu.jpg" alt="avi" class="avi"></div>
                <div class="tweetbody">
                    <div>Soy Segun @segun_OS - Feb. 11</div>
                    <div class="tweetcontent">Always check the replies for clarification before you retweet a tweet,
                        people<br> deliberately mislead with their tweets.</div>
                    <ul class="retweeticons">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        <i class="fa fa-retweet" aria-hidden="true"></i>
                        <i class="fa fa-loveseat"></i>
                        <i class="fa fa-upload" aria-hidden="true"></i>
                    </ul>
                </div>

            </section>
        </div>

        <!-- RIGHT CONTAINER -->

        <div class="rightcontainer">
            <section class="searchbar">
                <div class="searchicon"><i class="fa fa-search" aria-hidden="true"></i></div>
                <input type="text" name="search" id="searchbox" placeholder="Search Twitter">
            </section>

            <section class="twittermedia">
                <div><img src="https://res.cloudinary.com/dowrygm9b/image/upload/v1570267399/laptop-3174729_yiprzu.jpg" alt="media1"></div>
                <div><img src="https://res.cloudinary.com/dowrygm9b/image/upload/v1570267399/laptop-3174729_yiprzu.jpg" alt="media1"></div>
                <div><img src="https://res.cloudinary.com/dowrygm9b/image/upload/v1570267399/laptop-3174729_yiprzu.jpg" alt="media1"></div>
                <div><img src="https://res.cloudinary.com/dowrygm9b/image/upload/v1570267399/laptop-3174729_yiprzu.jpg" alt="media1"></div>
                <div><img src="https://res.cloudinary.com/dowrygm9b/image/upload/v1570267399/laptop-3174729_yiprzu.jpg" alt="media1"></div>
                <div><img src="https://res.cloudinary.com/dowrygm9b/image/upload/v1570267399/laptop-3174729_yiprzu.jpg" alt="media1"></div>
            </section>

            <section class="nigeriatrends">
                <div class="headertrends">
                    <h2>Nigeria Trends</h2>
                    <i class="fa fa-cog" id="fa-cog"></i>
                </div>
                <div class="trenditem">
                    <div class="trending"> 1 Trending</div>
                    <div class="hashtag"> Segun Olanitori</div>
                    <div class="trending"> 9054767 Tweets</div>
                </div>
                <div class="trenditem">
                    <div class="trending"> 2 Trending</div>
                    <div class="hashtag"> Olanitori Olusegun</div>
                    <div class="trending"> 104767 Tweets</div>
                </div>
                <div class="trenditem">
                    <div class="trending"> 3 Trending</div>
                    <div class="hashtag"> Segun</div>
                    <div class="trending"> 97367 Tweets</div>
                </div>
                <div class="trenditem">
                    <div class="trending"> 4 Trending</div>
                    <div class="hashtag"> #Loremipsum</div>
                    <div class="trending"> 84767 Tweets</div>
                </div>
                <div class="trenditem">
                    <div class="trending"> 5 Trending</div>
                    <div class="hashtag"> Olanitori </div>
                    <div class="trending"> 7476 Tweetsg</div>
                </div>
                <div class="trenditem">
                    <div class="trending"> 6 Trending</div>
                    <div class="hashtag"> SegunOS</div>
                    <div class="trending"> 6477 Tweets</div>
                </div>
                <div class="trenditem">
                    <div class="trending"> 7 Trending</div>
                    <div class="hashtag"> Segun_OS </div>
                    <div class="trending"> 54767 Tweets</div>
                </div>
                <div class="trenditem">
                    <div class="trending"> 8 Trending</div>
                    <div class="hashtag"> Soy Segun</div>
                    <div class="trending"> 44762 Tweets</div>
                </div>
                <div class="trenditem">
                    <div class="trending"> 9 Trending</div>
                    <div class="hashtag"> #Loremipsum</div>
                    <div class="trending"> 3476 Tweets</div>
                </div>
                <div class="trenditem">
                    <div class="trending"> 10 Trending</div>
                    <div class="hashtag"> #Loremipsum</div>
                    <div class="trending"> 247 Tweets</div>
                </div>
                <div class="showmore">
                    <a href="#" style="padding: 25px; color: royalblue;">Show more</a>
                </div>
            </section>

        </div>

    </div>


{% endblock %}
