{% extends 'base.html.twig' %}

{% set page_title = 'Conv' %}

{% block body %}
    <h2>Créer une nouvelle conversation</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
