{% extends 'base.html.twig' %}

{% block title %}Tweeter Home{% endblock %}

{% set page_title = 'Home' %}

{% block body %}
    <div class="tweetBox">
        {# Utilisation du formulaire Symfony dans Twig #}
        {{ form_start(form) }}
            <div class="tweetbox__input">
                <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="" />
                {{ form_widget(form.content) }}
            </div>
            <button type="submit" class="tweetBox__tweetButton">Tweet</button>
        {{ form_end(form) }}
    </div>
    
    {# Boucle sur les tweets récupérés de la base de données #}
    {% for tweet in tweets|reverse %}
        {% include 'menu/tweet.html.twig' %}
        {% else %}
            <p>Aucun tweet trouvé.</p>
    {% endfor %}
    
</div>
{% endblock %}
